/* Code copied from the gear up: specifies CSS styles for main components. */

.repl {
  position: relative;
  min-height: 95vh;
}

.repl-history {
  height: 55vh;
  /* We changed below line so everything left-aligned (HTML table for output did automatically)*/
  text-align: left;
  display: block;
  overflow: scroll;
}

.repl-input {
  margin: auto;
  height: 10vh;
}
.repl-command-box {
  width: 90%;
  margin: auto;
  display: block;
}
button {
  margin: auto;
  display: block;
}
